<header>
    <div class="banner-big">
      <img src="/images/bannerVH.jpg" alt="banner-municipal">
    </div>
    <div class="menu_bar">
      <div class="banner">
        <img src="/images/bannerVH.jpg" alt="banner-municipal">
      </div>
      <a href="#" class="bt-menu"><span class="icon-list"><i class="fa-solid fa-bars"></i></span>Menu</a></i>
    </div>
    <nav>
      <ul>
        <li><a href="/"><span class="icon-"><i class="fa fa-home" aria-hidden="true"></i></span>Principal</a></li>
        <li class="submenu">
          <a href="/gobierno"><span class="icon-"><i class="fa fa-university"
                aria-hidden="true"></i></span>Gobierno<span class="caret icon-"><i class="fa fa-arrow-down"
                aria-hidden="true"></i></span></a>
          <ul class="children">
            <li><a href="/autoridades">Autoridades y Secretarías</a></li>
            <li><a href="/infoMapa">Infomapa</a></li>
            <li><a href="https://www.vallehermoso.gob.ar/?q=ordenanzas">Ordenanzas</a></li>
            <li><a href="/noticias">Noticias</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><span class="icon-"><i class="fa fa-globe" aria-hidden="true"></i></span>Servicios<span
              class="caret icon-"><i class="fa fa-arrow-down" aria-hidden="true"></i></span></a>
          <ul class="children">
            <li><a href="https://municipalidad.com/vher/home/menu">Impuestos</a></li>
            <li><a href="#">Actividad económica y trabajo</a></li>
            <li><a href="#">Ambiente y mantenimiento urbano</a></li>
            <li><a href="#">Ciudad y turismo</a></li>
            <li><a href="#">Cultura y educación</a></li></a>
        </li>
        <li><a href="#">Deportes y recreación</a></li>
        <li><a href="#">Impuestos</a></li>
        <li><a href="#">Movilidad y transporte</a></li>
        <li><a href="#">Participación, transparencia e información pública</a></li>
        <li><a href="#">Salud</a></li>
        <li><a href="#">Salud Animal</a></li>
        <li><a href="#">Servicios Sociales</a></li>
        <li><a href="#">Taller Manitos de barro</a></li>
        <li><a href="#">Vivienda y construcción</a></li>
      </ul>
      </li>
      </ul>
    </nav>
  </header>