<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <div class="autoridades">
      <button><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></button>
      <button><a href="/gobierno"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
      <h1>Autoridades y secretarías</h1>
      <ul >
        <li class="titulo">
          <h2><strong>Intendencia:</strong></h2>
          <ul>
            <li class="subli"><p><strong>Intendente :</strong>Caserio Jorge</p></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="titulo">
          <h2><strong>Secretarías</strong></h2>
          <ul>
            <li class="subli"><p><strong>Secretario de obras públicas:</strong> Ricardo Kember</p></li>
            <li class="subli"><p><strong>Dirección de turismo:</strong> Abdel Chariff</p></li>
            <li class="subli"><p><strong>Dirección de cultura:</strong> Mabel Deriú</p></li>
            <li class="subli"><p><strong>Dirección de prensa:</strong> Lic. Luciana Brunschtein</p></li>
            <li class="subli"><p><strong>Dirección de desarrollo social:</strong> Mariana Rizzutti</p></li>
            <li class="subli"><p><strong>Dirección de deportes</strong> Bernardo Verdún</p></li>
            <li class="subli"><p><strong>Dirección de gobierno:</strong> Edgardo Quaino</p></li>
            <li class="subli"><p><strong>Dirección de la mujer</strong> Dra María Teresa Peralta</p></li>
            <li class="subli"><p><strong>Dirección de salud:</strong> Dr. Fernando Salvatore</p></li>
            <li class="subli"><p><strong>Recursos humanos</strong> Walter Goñi</p></li>
            <li class="subli"><p><strong>Área de faltas:</strong> Dra. Mariela Battalini</p></li>
            <li class="subli"><p><strong>Asesoría letrada:</strong> Dr. Anibal Martinez</p></li>
            <li class="subli"><p><strong>Hacienda y finanzas:</strong> Gonzalo Ogando</p></li>
            <li class="subli"><p><strong>Área de salud animal:</strong> Patricia Sánchez</p></li>
            <li class="subli"><p><strong>Dirección de inspección:</strong> Florencia De Biassi</p></li>
            <li class="subli"><p><strong>Asesoría Contable:</strong> Cra Alina Salazar</p></li>
          </ul>
        </li>
      </ul>
    </div>
        </li>
      </ul>
    </div>
</body>

</html>