<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <!-- <div class="autoridades">
      <h1>Autoridades y secretarías</h1>
      <ul >
        <li class="titulo">
          <h2><strong>Intendencia:</strong></h2>
          <ul>
            <li class="subli"><strong>Intendente :</strong>Caserio Jorge</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="titulo">
          <h2><strong>Secretarías</strong></h2>
          <ul>
            <li class="subli"><strong>Secretario de obras públicas:</strong> Ricardo Kember</li>
            <li class="subli"><strong>Dirección de turismo:</strong> Abdel Chariff</li>
            <li class="subli"><strong>Dirección de cultura:</strong> Mabel Deriú</li>
            <li class="subli"><strong>Dirección de prensa:</strong> Lic. Luciana Brunschtein</li>
            <li class="subli"><strong>Dirección de desarrollo social:</strong> Mariana Rizzutti</li>
            <li class="subli"><strong>Dirección de deportes</strong> Bernardo Verdún</li>
            <li class="subli"><strong>Dirección de gobierno:</strong> Edgardo Quaino</li>
            <li class="subli"><strong>Dirección de la mujer</strong> Dra María Teresa Peralta</li>
            <li class="subli"><strong>Dirección de salud:</strong> Dr. Fernando Salvatore</li>
            <li class="subli"><strong>Recursos humanos</strong> Walter Goñi</li>
            <li class="subli"><strong>Área de faltas:</strong> Dra. Mariela Battalini</li>
            <li class="subli"><strong>Asesoría letrada:</strong> Dr. Anibal Martinez</li>
            <li class="subli"><strong>Hacienda y finanzas:</strong> Gonzalo Ogando</li>
            <li class="subli"><strong>Área de salud animal:</strong> Patricia Sánchez</li>
            <li class="subli"><strong>Dirección de inspección:</strong> Florencia De Biassi</li>
            <li class="subli"><strong>Asesoría Contable:</strong> Cra Alina Salazar</li>
          </ul>
        </li>
      </ul>
    </div>
    
      <div class="mapaReferencia">
        <h1>Mapa con referencias de Valle Hermoso.</h1>
        <img src="/images/valleplano.jpg" alt="infoMapa">
      </div> -->
      <div class="opcionesGobierno">
        <h1> Opciones Gobierno:</h1>
        <ul>
          <li><a href="/autoridades">Autoridades y Secretarías</a></li>
          <li><a href="/infoMapa">Infomapa</a></li>
          <li><a href="https://www.vallehermoso.gob.ar/?q=ordenanzas">Ordenanzas</a></li>
          <li><a href="/noticias">Noticias</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
  </body>

</html>