<!DOCTYPE html><html>
  <%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <div class="mapaReferencia">
    <button><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></button>
    <button><a href="/gobierno"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
    <h1>Mapa con referencias de Valle Hermoso</h1>
    <img src="/images/valleplano.jpg" alt="infoMapa">
  </div>

</body>

</html>