<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="titulo">
                <button><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></button>
                <button><a href="/gobierno"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
                <h1>Valle Hermoso.</h1>
            </div>
            <div class="video">
                <div class="videoFrame">
                    <iframe width="591" height="360" src="https://www.youtube.com/embed/eRE-IFqj6ls"
                        title="Conocé Valle Hermoso!" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
    </body>

</html>