* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
    background-color: forestgreen;
  }
.autoridades{
    background-color: #24af15;
    width:80%;
    margin-left: 10%;
    padding-top: 15%;
   }
   .titulo{
    margin-bottom: 2px;
    list-style: none;
   }
   .subli{
    margin-top:5px
   }
   p{
    font-size: 1rem;
    color: antiquewhite;
   }
   h2{
    color:#7bed6f;
   }
   h1{
    color:#7bed6f;
   }
   @media only screen and (min-device-width: 239px) and (max-device-width: 769px) {
    .autoridades{
      background-color: #24af15;
      width:90%;
      margin-left: 5%;
      padding-top: 12%;
      padding-left: 1%;
     }
     .titulo{
      margin-bottom: 2px;
      list-style: none;
      padding-left: 3px;
     }
     .subli{
      margin-top:4px;
      padding-left: 0px;
     }
     p{
      font-size: 1rem;
      color: antiquewhite;
     }
   }