* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
    background-color: forestgreen;
  }
  .mapaReferencia{
    width:80%;
   margin-left:10%;
    background-color: aliceblue;
    margin-top:10px;
    padding-left:15%;
    padding-top:18%;
  }
  @media only screen and (min-device-width: 239px) and (max-device-width: 769px) {
    .mapaReferencia{
      width:80vw;
     margin-left:10vw;
      background-color: aliceblue;
      margin-top:10px;
      padding-left:15vw;
      padding-top:5vh;
    }
    img{
      width:50vw;
    }
  }
  